In [1]:
import models.helpers as mh
import models.builders as mb
import inference.helpers as ih
import data.breathe_data as breathe_data
import data.smartcare_data as smartcare_data
import data.helpers as dh

import numpy as np
import pandas as pd

# 2025-05-06: smartcare data

In [2]:
import data.smartcare_O2_FEV1_df as smartcare_O2_FEV1_df
df_sc = smartcare_O2_FEV1_df.create()

** Loading measurements data **

* Processing measures *

FEV1
* Analysing same day duplicates *
* Correcting measurements done before 2am *

INFO:root:* Checking for same day measurements *

Dropped 1062 same day FEV1 duplicates
Dropping 1 entries with FEV1 = 3.45 for user Kings004

O2 Saturation
* Analysing same day duplicates *
* Correcting measurements done before 2am *
Dropped 84 same day O2 Saturation duplicates
IDs with O2 Saturation outside 70-100 % range:
          UserName  O2 Saturation
3575      Kings005            127
4836   Papworth001            127
4911   Papworth002            127
6257   Papworth010            103
6261   Papworth010            104
8131   Papworth027            127
8265   Papworth028            127
8284   Papworth028            127
10854   leeds01222            127
11065   leeds01320            127
Dropping 10 entries with O2 Saturation outside 70-100 % range

Loaded measurements data with 14451 entries (initially 129841, removed 115390)

** Loading ID map **
Correct ID 101's Patient_ID from ['0HeWh64M_zc5U512xqzAs4'] to 0HeWh64M_zc5U5l2xqzAs4
Correct ID 125's Patient_ID from ['1au5biSTt0bNWgfl0Wltr5'] to 1au5biSTt0bNWgfI0WItr5
Correct ID 232's Patient_ID from ['TKpptiCA5cASNKU0VSmx4'] to -TKpptiCA5cASNKU0VSmx4
Correct ID 169's Patient_ID from ['Cujq-NEcld_Keu_W1-Nw5'] to -Cujq-NEcld_Keu_W1-Nw5
Correct ID 38's Patient_ID from ['Q0Wf614z94DSTy6nXjyw7'] to -Q0Wf614z94DSTy6nXjyw7

* Merging measurements data with ID map to retrieve SmartCare ID *
List User IDs that have no SmartCare ID
['username PapBen, user id GyK_hmIGxVaT7chwlGDio7'
 'username PapworthSummer, user id 9YevbyBS8VdwRL3RRUGY86'
 'username Ryan007, user id 31KnMK5Z4A6OKErB1C5-i6'
 'username Texas, user id MB0_-sqQBxhrKyfoOxUaF4'
 'username davetest, user id o0egatM37za2ZZ2jfs3AJ5'
 'username EmemTest, user id 9MKCpOe_FO_LcU9C0oCPJ4'
 'username scguest, user id ci0iszS3ov6G2U-dKDiAE4']

14434 entries left after merge (initial 14451, removed 17)

** Loading patient data **

/Applications/anaconda3/envs/phd/lib/python3.10/site-packages/openpyxl/worksheet/_read_only.py:79: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():

* Dropping unnecessary columns from patient data *
Columns filtered: ['ID', 'Study Date', 'DOB', 'Age', 'Sex', 'Height', 'Weight', 'Predicted FEV1', 'FEV1 Set As']
Columns dropped: {'Unable Informed Consent', 'GP Letter Sent', 'Sputum Samples', 'Less Exacerbation', 'Date Consent Obtained', 'Telemetric Measures', 'Pulmonary Exacerbation', 'Informed Consent', 'CFQR Quest Comp', 'Transplant Recipients', 'Hospital', 'Inconvenience Payment', 'Comments', 'Study Number', 'Age 18 Years', 'Unable Sputum Samples', 'Date Last PE Stop', 'Freezer Required', 'Genetic Testing', 'Date Last PE Start', 'Study Email', 'Remote Monitoring App User ID'}

* Correcting patient data *
ID 60: Corrected height 60 from 1.63 to 163.0
ID 66: Corrected height for ID 66 from 1.62 to 162.0
Replace Age by calculate age
Drop FEV1 Set As and Predicted FEV1
Compute Calculated Predicted FEV1 using GLI reference equations

* Applying data sanity checks *
Loaded patient data with 147 entries (147 initially)

** Creating DataFrame for O2 FEV1 analysis **
O2 Saturation has 14020 measurements
FEV1 has 9988 measurements
Merged O2 and FEV1 into 9574 entries (initially 14434, removed 4860 NaN)
Asserting that there's only one measurement per ID per day

INFO:root:ID 82 - Outlier up for ecFEV1, day 2015-11-20: 2.70 > 2.44 and > 2.08 (mean=1.58,std=0.29), update to 1.84

Created df_O2_FEV1 with 9574 entries (initially 14434, removed 4860)

In [3]:
df_sc.head()

,ID,Date Recorded,O2 Saturation,FEV1,Study Date,DOB,Age,Sex,Height,Weight,Predicted FEV1,ecFEV1,ecFEV1 % Predicted,FEV1 % Predicted
0,100,2015-12-14,97.0,2.81,2015-12-14,1990-08-10,25,Female,173.0,55.2,3.744633,2.81,75.040726,75.040726
1,100,2015-12-15,96.0,2.25,2015-12-14,1990-08-10,25,Female,173.0,55.2,3.744633,2.25,60.085990,60.085990
2,100,2015-12-16,98.0,2.69,2015-12-14,1990-08-10,25,Female,173.0,55.2,3.744633,2.69,71.836140,71.836140
3,100,2015-12-17,98.0,2.54,2015-12-14,1990-08-10,25,Female,173.0,55.2,3.744633,2.54,67.830407,67.830407
4,100,2015-12-19,96.0,2.15,2015-12-14,1990-08-10,25,Female,173.0,55.2,3.744633,2.69,71.836140,57.415502

In [5]:
# Check obs indices are correct
_, inf_alg, HFEV1, uFEV1, ecFEV1, AR, HO2Sat, _, IA, _, O2Sat, ecFEF2575prctecFEV1 = (
    mb.o2sat_fev1_fef2575_point_in_time_model_noise_shared_healthy_vars(
        df_sc.Height[0],
        df_sc.Age[0],
        df_sc.Sex[0],
        ecfev1_noise_model_cpt_suffix="_std_add_mult_ecfev1",
        ar_prior="uniform",  # no data a priori
        ia_prior="uniform",  # no data a priori
        ar_fef2575_cpt_suffix="_ecfev1_2_days_model_add_mult_noise",
        check_model=False,
    )
)


df_sc["idx ecFEV1 (L)"] = df_sc.apply(lambda row: ecFEV1.get_bin_idx_for_value(row["ecFEV1"]), axis=1)
df_sc["idx O2 saturation (%)"] = df_sc.apply(lambda row: O2Sat.get_bin_idx_for_value(row["O2 Saturation"]), axis=1)

Underlying FEV1 (L) name of uFEV1

In [8]:
df_sc.to_excel(f"{dh.get_path_to_main()}/ExcelFiles/SC/O2_FEV1_df_conservative_smoothing_with_idx.xlsx", index=False)

# 2025-05-01: breathe data
With noise model, data up to july 2024

In [2]:
df = breathe_data.load_meas_from_excel(
    "BR_O2_FEV1_FEF2575_conservative_smoothing_with_idx"
)

INFO:root:* Checking for same day measurements *

In [3]:
# Check obs indices are correct
_, inf_alg, HFEV1, uFEV1, ecFEV1, AR, HO2Sat, _, IA, _, O2Sat, ecFEF2575prctecFEV1 = (
    mb.o2sat_fev1_fef2575_point_in_time_model_noise_shared_healthy_vars(
        df.Height[0],
        df.Age[0],
        df.Sex[0],
        ecfev1_noise_model_cpt_suffix="_std_add_mult_ecfev1",
        ar_prior="uniform",  # no data a priori
        ia_prior="uniform",  # no data a priori
        ar_fef2575_cpt_suffix="_ecfev1_2_days_model_add_mult_noise",
        check_model=False,
    )
)

assert (
    df["idx ecFEV1 (L)"]
    == df.apply(lambda row: ecFEV1.get_bin_idx_for_value(row["ecFEV1"]), axis=1)
).all()
assert (
    df["idx O2 saturation (%)"]
    == df.apply(lambda row: O2Sat.get_bin_idx_for_value(row["O2 Saturation"]), axis=1)
).all()
assert (
    df[f"idx {ecFEF2575prctecFEV1.name}"]
    == df.apply(
        lambda row: ecFEF2575prctecFEV1.get_bin_idx_for_value(row["ecFEF2575%ecFEV1"]),
        axis=1,
    )
).all()

# 2024-01-25

In [4]:
# df = breathe_data.load_meas_from_excel('BR_O2_FEV1')
df = breathe_data.build_O2_FEV1_FEF2575_PEF_df(2, remove_nan=True)
df.head()

*** Building O2Sat, FEV1, FEF2575 dataframe ***

*** Loading patients data ***
Warning - 4 NaN values in dataframe
The 4 NaN values belong to IDs ('322', '338', '344', '348') whose height are missing.
However, we don't correct for them as we don't have any measurement corresponding to those IDs for now.
Loaded 258 individuals

*** Loading measurements data ***
Dropping 1 entries with FEV1 = 6.0 for ID 330
* Checking for same day measurements *
* Checking for same day measurements *
* Checking for same day measurements *
* Checking for same day measurements *
Number of IDs:  243
Number of rows:  48978
Number of FEV1 recordings: 41791
Number of FEF2575 recordings: 37068
Number of PEF recordings: 16755
Number of O2 Saturation recordings: 43930
Dropped 33610 entries with at least one NaN in subset ['O2 Saturation', 'FEV1', 'FEF2575', 'PEF']
This includes dropping 5048 entries with NaN O2 Saturation
This includes dropping 7187 entries with NaN FEV1
This includes dropping 11910 entries with NaN FEF2575
This includes dropping 32223 entries with NaN PEF
Warning for ID 244: FEV1 % Predicted should be in 0-140%, got 144.81457082654669
Warning for ID 244: FEV1 % Predicted should be in 0-140%, got 144.81457082654669
Warning for ID 244: FEV1 % Predicted should be in 0-140%, got 144.81457082654669
Warning for ID 244: FEV1 % Predicted should be in 0-140%, got 144.81457082654669
Built data structure with 142 IDs and 15368 entries

,ID,Date Recorded,FEV1,O2 Saturation,FEF2575,PEF,ecFEV1,Age,Sex,Height,Predicted FEV1,Healthy O2 Saturation,ecFEV1 % Predicted,FEV1 % Predicted,O2 Saturation % Healthy
0,101,2021-05-25,1.68,98.0,1.17,227.0,1.69,53,Male,173.0,3.610061,97.150104,46.813611,46.536607,100.874827
1,101,2021-05-26,1.65,98.0,1.06,236.0,1.69,53,Male,173.0,3.610061,97.150104,46.813611,45.705597,100.874827
2,101,2021-05-27,1.69,98.0,1.12,183.0,1.69,53,Male,173.0,3.610061,97.150104,46.813611,46.813611,100.874827
3,101,2021-05-28,1.67,98.0,1.08,175.0,1.69,53,Male,173.0,3.610061,97.150104,46.813611,46.259604,100.874827
4,101,2021-05-29,1.69,98.0,1.16,171.0,1.76,53,Male,173.0,3.610061,97.150104,48.752636,46.813611,100.874827

In [5]:
# Infer AR and IA for all data points given an individuals' age, sex, height, FEV1 and O2 saturation measurements
def infer_AR_IA_for_ID(df):
    df.reset_index(inplace=True)
    _, inf_alg, HFEV1, ecFEV1, AR, HO2Sat, _, IA, _, O2Sat = (
        mb.o2sat_fev1_point_in_time_model_shared_healthy_vars(
            df.Height[0], df.Age[0], df.Sex[0]
        )
    )

    def infer_and_unpack(ecfev1_obs, o2sat_obs):
        res = ih.infer_on_factor_graph(
            inf_alg,
            [AR, IA, HFEV1, HO2Sat],
            [[ecFEV1, ecfev1_obs], [O2Sat, o2sat_obs]],
        )
        return (
            res[AR.name].values,
            res[IA.name].values,
            res[HFEV1.name].values,
            res[HO2Sat.name].values,
        )

    res = df.apply(
        lambda row: infer_and_unpack(row["ecFEV1"], row["O2 Saturation"]),
        axis=1,
    )
    return res


resraw = df.groupby("ID").apply(infer_AR_IA_for_ID)
# resraw = df.iloc[np.r_[10:13, 1000:1007]].groupby("ID").apply(infer_AR_IA_for_ID)
res = (
    resraw.apply(pd.Series)
    .reset_index()
    .rename(columns={0: "AR", 1: "IA", 2: "HFEV1", 3: "HO2Sat"})
    .drop(columns="level_1")
)
res

,ID,AR,IA,HFEV1,HO2Sat
0,101,"[0.00020140268126914501, 0.0002563950730509337...","[0.8561467340582659, 0.13340126187709733, 0.01...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1,101,"[0.00020140268126914501, 0.0002563950730509337...","[0.8561467340582659, 0.13340126187709733, 0.01...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
2,101,"[0.00020140268126914501, 0.0002563950730509337...","[0.8561467340582659, 0.13340126187709733, 0.01...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
3,101,"[0.00020140268126914501, 0.0002563950730509337...","[0.8561467340582659, 0.13340126187709733, 0.01...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
4,101,"[0.00032111950996979114, 0.0004109729606994951...","[0.8452978344899926, 0.1425778679219038, 0.011...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
...,...,...,...,...,...
15363,357,"[0.018894458144689832, 0.023900270613168705, 0...","[0.5938219299610586, 0.32073461779482193, 0.07...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
15364,358,"[0.12393173080736078, 0.12818807612289895, 0.1...","[0.794036182578991, 0.18549455618183203, 0.019...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
15365,358,"[0.12393173080736081, 0.12818807612289898, 0.1...","[0.3561906667243055, 0.39015595419992494, 0.20...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 1.5970932163126048e-22, 4..."
15366,358,"[0.11364347821363134, 0.11951918572027004, 0.1...","[0.794036182578991, 0.18549455618183203, 0.019...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
15367,358,"[0.11364347821363134, 0.11951918572027004, 0.1...","[0.794036182578991, 0.18549455618183203, 0.019...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

In [9]:
AR = mh.VariableNode("Airway resistance (%)", 0, 90, 2, prior=None)
IA = mh.VariableNode("Inactive alveoli (%)", 0, 30, 1, prior=None)
HFEV1 = mh.VariableNode("Healthy FEV1 (L)", 1, 6, 0.05, prior=None)
HO2Sat = mh.VariableNode("Healthy O2 saturation (%)", 90, 100, 0.5, prior=None)


res["AR mean"] = res["AR"].apply(lambda x: AR.get_mean(x))
res["IA mean"] = res["IA"].apply(lambda x: IA.get_mean(x))
res["HFEV1 mean"] = res["HFEV1"].apply(lambda x: HFEV1.get_mean(x))
res["HO2Sat mean"] = res["HO2Sat"].apply(lambda x: HO2Sat.get_mean(x))

In [10]:
df.columns

Index(['ID', 'Date Recorded', 'FEV1', 'O2 Saturation', 'FEF2575', 'PEF',
       'ecFEV1', 'Age', 'Sex', 'Height', 'Predicted FEV1',
       'Healthy O2 Saturation', 'ecFEV1 % Predicted', 'FEV1 % Predicted',
       'O2 Saturation % Healthy'],
      dtype='object')

In [11]:
# Concatenate the 4 new columns to the original dataframe
df1 = pd.concat([df, res.drop(columns=["ID"])], axis=1)
df1.head()

,ID,Date Recorded,FEV1,O2 Saturation,FEF2575,PEF,ecFEV1,Age,Sex,Height,...,FEV1 % Predicted,O2 Saturation % Healthy,AR,IA,HFEV1,HO2Sat,AR mean,IA mean,HFEV1 mean,HO2Sat mean
0,101,2021-05-25,1.68,98.0,1.17,227.0,1.69,53,Male,173.0,...,46.536607,100.874827,"[0.00020140268126914501, 0.0002563950730509337...","[0.8561467340582659, 0.13340126187709733, 0.01...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",47.601368,0.654616,3.285826,97.643061
1,101,2021-05-26,1.65,98.0,1.06,236.0,1.69,53,Male,173.0,...,45.705597,100.874827,"[0.00020140268126914501, 0.0002563950730509337...","[0.8561467340582659, 0.13340126187709733, 0.01...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",47.601368,0.654616,3.285826,97.643061
2,101,2021-05-27,1.69,98.0,1.12,183.0,1.69,53,Male,173.0,...,46.813611,100.874827,"[0.00020140268126914501, 0.0002563950730509337...","[0.8561467340582659, 0.13340126187709733, 0.01...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",47.601368,0.654616,3.285826,97.643061
3,101,2021-05-28,1.67,98.0,1.08,175.0,1.69,53,Male,173.0,...,46.259604,100.874827,"[0.00020140268126914501, 0.0002563950730509337...","[0.8561467340582659, 0.13340126187709733, 0.01...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",47.601368,0.654616,3.285826,97.643061
4,101,2021-05-29,1.69,98.0,1.16,171.0,1.76,53,Male,173.0,...,46.813611,100.874827,"[0.00032111950996979114, 0.0004109729606994951...","[0.8452978344899926, 0.1425778679219038, 0.011...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",44.593062,0.667227,3.288958,97.621469

In [12]:
df1.columns

Index(['ID', 'Date Recorded', 'FEV1', 'O2 Saturation', 'FEF2575', 'PEF',
       'ecFEV1', 'Age', 'Sex', 'Height', 'Predicted FEV1',
       'Healthy O2 Saturation', 'ecFEV1 % Predicted', 'FEV1 % Predicted',
       'O2 Saturation % Healthy', 'AR', 'IA', 'HFEV1', 'HO2Sat', 'AR mean',
       'IA mean', 'HFEV1 mean', 'HO2Sat mean'],
      dtype='object')

In [6]:
# Save rawres as excel to ../../../../ExcelFiles
df1.to_excel(
    dh.get_path_to_main()
    + "ExcelFiles/BR/BR_O2_FEV1_FEF2575_PEF_inferred_AR_IA_HFEV1_HO2Sat.xlsx",
    index=False,
)

# Save arrays as objects
Arrays are currently saved as strings which is painful to process when reading from the file

In [ ]:
import pandas as pd
import numpy as np
import data.helpers as data_helpers

In [ ]:
data_helpers.load_excel(
    "../../../../ExcelFiles/inferred_AR_IA_with_FEV1_O2Sat_no_AR-IA_factor_1.xlsx",
    ["AR", "IA"],
).iloc[0].AR

In [ ]:
df = pd.read_excel(
    "../../../../ExcelFiles/inferred_AR_IA_with_FEV1_O2Sat_no_AR-IA_factor_1.xlsx"
)

In [ ]:
# Convert back to arrays
def str_to_array(s):
    s_cleaned = s.replace("\\n", "")
    return np.fromstring(s_cleaned[1:-1], sep=" ")


df["AR"] = df.AR.apply(str_to_array)
df["IA"] = df.IA.apply(str_to_array)

In [ ]:
df.iloc[0].AR

In [ ]:
df.to_excel(
    "../../../../ExcelFiles/inferred_AR_IA_with_FEV1_O2Sat_no_AR-IA_factor_1.xlsx",
    index=False,
)

In [ ]:
df = pd.read_excel(
    "../../../../ExcelFiles/inferred_AR_IA_with_FEV1_O2Sat_no_AR-IA_factor.xlsx"
)

In [ ]:
df.AR.apply(json.loads)[0]