In [1]:
import src.models.helpers as mh
import src.models.builders as mb
import src.inference.helpers as ih
import src.data.breathe_data as br
import src.data.helpers as dh
import src.o2_fev1_analysis.smooth as smooth


import numpy as np
import pandas as pd

In [ ]:
df = br.load_meas_from_excel("BR_O2_FEV1_FEF2575_PEF_Nan")

In [ ]:
# Remove PEF related rows
df = df.drop(columns=["PEF", "ecPEF"])
# Remove NaN on FEV1, O2 saturation columns
print(df.shape)
df = df.dropna(subset=["FEV1", "O2 Saturation"])
print(df.shape)
df.head()

(48978, 15)
(36745, 15)

,ID,Date Recorded,FEV1,O2 Saturation,FEF2575,ecFEV1,ecFEF2575,Age,Sex,Height,Predicted FEV1,Healthy O2 Saturation,ecFEV1 % Predicted,FEV1 % Predicted,O2 Saturation % Healthy
0,101,2019-01-25,1.31,97.0,0.54,1.31,0.67,53,Male,173.0,3.610061,97.150104,36.287474,36.287474,99.845492
1,101,2019-01-26,1.31,98.0,0.57,1.31,0.67,53,Male,173.0,3.610061,97.150104,36.287474,36.287474,100.874827
2,101,2019-01-27,1.31,96.0,0.67,1.31,0.69,53,Male,173.0,3.610061,97.150104,36.287474,36.287474,98.816157
3,101,2019-01-28,1.30,96.0,0.69,1.31,0.69,53,Male,173.0,3.610061,97.150104,36.287474,36.010470,98.816157
4,101,2019-01-29,1.28,98.0,0.60,1.30,0.69,53,Male,173.0,3.610061,97.150104,36.010470,35.456463,100.874827

In [2]:
def apply_new_smoothing(df, col, scale, shift):
    """
    Works on df with NaN in col.
    """

    df[f"ec{col}"] = df[col]
    no_nan_mask = ~df[f"ec{col}"].isna()
    df.iloc[no_nan_mask] = smooth.identify_and_replace_outliers_up(
        df[no_nan_mask], f"ec{col}", scale=scale, shift=shift
    ).copy()
    df[f"ec{col}"][no_nan_mask] = smooth.smooth_vector(
        df[f"ec{col}"][no_nan_mask].to_numpy(), "max"
    )

    return df


df = (
    df.groupby(by="ID")
    .apply(lambda x: apply_new_smoothing(x, "FEV1", 3, 0.5))
    .reset_index(drop=True)
)
df = (
    df.groupby(by="ID")
    .apply(lambda x: apply_new_smoothing(x, "FEF2575", 3, 0.5))
    .reset_index(drop=True)
)
# df = (
#     df.groupby(by="ID")
#     .apply(lambda x: apply_new_smoothing(x, "PEF (L/s)", 3, 1))
#     .reset_index(drop=True)
# )

NameError: name 'df' is not defined

In [49]:
# Infer AR and IA for all data points given an individuals' age, sex, height, FEV1 and O2 saturation measurements

# def infer_AR_IA_for_ID(df):
#     df.reset_index(inplace=True)
#     _, inf_alg, HFEV1, ecFEV1, AR, HO2Sat, _, IA, _, O2Sat, ecFEF2575prctecFEV1 = (
#         mb.o2sat_fev1_fef2575_point_in_time_model_shared_healthy_vars(
#             df.Height[0], df.Age[0], df.Sex[0]
#         )
#     )

#     def infer_and_unpack(ecfev1_obs, o2sat_obs, ecfef2575_obs):

#         res = ih.infer_on_factor_graph(
#             inf_alg,
#             [AR, IA, HFEV1, HO2Sat],
#             [
#                 [ecFEV1, ecfev1_obs],
#                 [O2Sat, o2sat_obs],
#             ],
#         )
#         res_with_fef2575 = ih.infer_on_factor_graph(
#             inf_alg,
#             [AR, IA, HFEV1, HO2Sat],
#             [
#                 [ecFEV1, ecfev1_obs],
#                 [O2Sat, o2sat_obs],
#                 [ecFEF2575prctecFEV1, ecfef2575_obs / ecfev1_obs * 100],
#             ],
#         )
#         return (
#             res[AR.name].values,
#             res[IA.name].values,
#             res[HFEV1.name].values,
#             res[HO2Sat.name].values,
#             res_with_fef2575[AR.name].values,
#             res_with_fef2575[IA.name].values,
#             res_with_fef2575[HFEV1.name].values,
#             res_with_fef2575[HO2Sat.name].values,
#         )

#     res = df.apply(
#         lambda row: infer_and_unpack(
#             row["ecFEV1"], row["O2 Saturation"], row["ecFEF2575"]
#         ),
#         axis=1,
#     )
#     return res


# resraw = df.groupby("ID").apply(infer_AR_IA_for_ID)
# # resraw = df.iloc[np.r_[10:13, 3000:3007]].groupby("ID").apply(infer_AR_IA_for_ID)
# res = (
#     resraw.apply(pd.Series)
#     .reset_index()
#     .rename(columns={0: "AR", 1: "IA", 2: "HFEV1", 3: "HO2Sat", 4: "AR_2", 5: "IA_2", 6: "HFEV1_2", 7: "HO2Sat_2"})
#     .drop(columns="level_1")
# )

AssertionError: Error computing prior: The sum of the probabilities should be 1, got nan

In [ ]:
AR = mh.VariableNode("Airway resistance (%)", 0, 90, 2, prior=None)
IA = mh.VariableNode("Inactive alveoli (%)", 0, 30, 1, prior=None)
HFEV1 = mh.VariableNode("Healthy FEV1 (L)", 1, 6, 0.05, prior=None)
HO2Sat = mh.VariableNode("Healthy O2 saturation (%)", 90, 100, 0.5, prior=None)


res["AR_FEF2575 mean"] = res["AR_FEF2575"].apply(lambda x: AR.get_mean(x))
res["IA_FEF2575 mean"] = res["IA_FEF2575"].apply(lambda x: IA.get_mean(x))
res["HFEV1_FEF2575 mean"] = res["HFEV1_FEF2575"].apply(lambda x: HFEV1.get_mean(x))
res["HO2Sat_FEF2575 mean"] = res["HO2Sat_FEF2575"].apply(lambda x: HO2Sat.get_mean(x))

In [10]:
df.columns

Index(['ID', 'Date Recorded', 'FEV1', 'O2 Saturation', 'FEF2575', 'PEF',
       'ecFEV1', 'Age', 'Sex', 'Height', 'Predicted FEV1',
       'Healthy O2 Saturation', 'ecFEV1 % Predicted', 'FEV1 % Predicted',
       'O2 Saturation % Healthy'],
      dtype='object')

In [11]:
# Concatenate the 4 new columns to the original dataframe
df1 = pd.concat([df, res.drop(columns=["ID"])], axis=1)
df1.head()

,ID,Date Recorded,FEV1,O2 Saturation,FEF2575,PEF,ecFEV1,Age,Sex,Height,...,FEV1 % Predicted,O2 Saturation % Healthy,AR,IA,HFEV1,HO2Sat,AR mean,IA mean,HFEV1 mean,HO2Sat mean
0,101,2021-05-25,1.68,98.0,1.17,227.0,1.69,53,Male,173.0,...,46.536607,100.874827,"[0.00020140268126914501, 0.0002563950730509337...","[0.8561467340582659, 0.13340126187709733, 0.01...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",47.601368,0.654616,3.285826,97.643061
1,101,2021-05-26,1.65,98.0,1.06,236.0,1.69,53,Male,173.0,...,45.705597,100.874827,"[0.00020140268126914501, 0.0002563950730509337...","[0.8561467340582659, 0.13340126187709733, 0.01...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",47.601368,0.654616,3.285826,97.643061
2,101,2021-05-27,1.69,98.0,1.12,183.0,1.69,53,Male,173.0,...,46.813611,100.874827,"[0.00020140268126914501, 0.0002563950730509337...","[0.8561467340582659, 0.13340126187709733, 0.01...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",47.601368,0.654616,3.285826,97.643061
3,101,2021-05-28,1.67,98.0,1.08,175.0,1.69,53,Male,173.0,...,46.259604,100.874827,"[0.00020140268126914501, 0.0002563950730509337...","[0.8561467340582659, 0.13340126187709733, 0.01...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",47.601368,0.654616,3.285826,97.643061
4,101,2021-05-29,1.69,98.0,1.16,171.0,1.76,53,Male,173.0,...,46.813611,100.874827,"[0.00032111950996979114, 0.0004109729606994951...","[0.8452978344899926, 0.1425778679219038, 0.011...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",44.593062,0.667227,3.288958,97.621469

In [12]:
df1.columns

Index(['ID', 'Date Recorded', 'FEV1', 'O2 Saturation', 'FEF2575', 'PEF',
       'ecFEV1', 'Age', 'Sex', 'Height', 'Predicted FEV1',
       'Healthy O2 Saturation', 'ecFEV1 % Predicted', 'FEV1 % Predicted',
       'O2 Saturation % Healthy', 'AR', 'IA', 'HFEV1', 'HO2Sat', 'AR mean',
       'IA mean', 'HFEV1 mean', 'HO2Sat mean'],
      dtype='object')

In [ ]:
# Save rawres as excel to ../../../../ExcelFiles
df1.to_excel(
    dh.get_path_to_main()
    + "ExcelFiles/BR/BR_obs_O2_FEV1_FEF2575_infer_AR_IA_HFEV1_HO2Sat.xlsx",
    index=False,
)