In [1]:
import src.data.breathe_data as bd
import pandas as pd
import src.data.helpers as dh

## Analyse Age

In [9]:
patient_df = pd.read_csv(
    dh.get_path_to_main() + "DataFiles/BR/processedRedCapData/brPatient_20240509.csv",
    # usecols=["A", "B", "E", "F", "G", "H", "I", "R", "X"],
    usecols=[0, 1, 3, 4, 5, 6, 7, 8, 17, 23, 24],
)

In [11]:
# Only 3 people have are 1 year older than the displayed age (vs the calc age).
# Age is fine to use.
patient_df[patient_df["CalcAge"] - patient_df["Age"] >= 1]

,ID,REDCapID,StudyDate,DOB,Age,Sex,Height,Weight,PartitionKey,CalcAgeExact,CalcAge
101,28-40,28-40,2022-10-24,1979-10-08,42.0,Female,166.0,105.0,f6648353-330f-45f5-9390-0c4b7da9bef3,43.043806,43
257,173,173,2019-12-13,1994-11-17,24.0,Female,167.0,67.0,b5459a25-ce81-4205-a319-e8bbcb514fdb,25.071184,25
338,293,293,2020-09-29,1991-08-26,28.0,Female,166.0,70.2,7d47a724-c741-4d2f-a402-cbcf7d425cd8,29.091547,29

## Analyse ID vs RedCap ID

In [22]:
patient_df = pd.read_csv(
    dh.get_path_to_main() + "DataFiles/BR/REDCapData/ProcessedData/brPatient_20240509.csv",
    # usecols=["A", "B", "E", "F", "G", "H", "I", "R"],
    usecols=[0, 1, 4, 5, 6, 7, 8, 17],
)

In [24]:
patient_df.dtypes

ID                int64
REDCapID         object
DOB              object
Age             float64
Sex              object
Height          float64
Weight          float64
PartitionKey     object
dtype: object

In [53]:
idmap = pd.read_excel(dh.get_path_to_main() + 'DataFiles/BR/REDCapData/IDMappingFiles/PatientIDMappingFile-20240509.xlsx',
                      dtype={'ID': str, 'redcap_id': str})
# idmap['ID'] = idmap['ID'].astype(str)
# idmap['redcap_id'] = idmap['redcap_id'].astype(str)
idmap.dtypes
# patient_df.merge(idmap, left_on='ID', right_on='ID')

ID           object
redcap_id    object
dtype: object

In [54]:
raw_df = pd.read_csv(
    dh.get_path_to_main() + "DataFiles/BR/REDCapData/DataExportFiles/AnalysisOfRemoteMoni_DATA_2023-11-29_1445.csv",
    # usecols=["A", "B", "E", "F", "G", "H", "I", "R"],
    usecols=[0, 1],
    dtype={'study_id': str}
)
# raw_df['study_id'] = raw_df['study_id'].astype(str)

In [55]:
unified_df = raw_df.merge(idmap, left_on='study_id', right_on='redcap_id')
print(unified_df.shape)
print(unified_df.ID.unique())

(21578, 4)
['316' '317' '318' '319' '320' '321' '322' '323' '324' '325' '326' '327'
 '328' '329' '330' '331' '332' '333' '334' '335' '336' '337' '338' '339'
 '340' '341' '342' '343' '344' '345' '346' '347' '348' '349' '350' '359'
 '360' '361' '376' '377' '378' '379' '380' '381' '382' '383' '384' '351'
 '352' '353' '354' '355' '356' '357' '358' '362' '363' '364' '365' '366'
 '367' '368' '369' '370' '385' '386' '387' '371' '372' '373' '374' '375'
 '388' '389' '390' '391' '392' '393' '394' '395' '396' '397' '398' '399'
 '400' '401' '402' '403' '404' '405' '406' '407' '408' '409' '410' '411'
 '412' '413' '414' '415' '416' '417' '418' '419' '420' '421' '422' '423'
 '424' '425' '426' '427' '428' '429' '430' '431' '432' '433' '434' '435'
 '436' '437' '438' '439' '440' '441' '442' '443' '444' '445' '446' '447'
 '448' '449' '450' '451' '452' '453' '454' '455' '456' '101' '102' '103'
 '104' '105' '106' '107' '108' '109' '110' '111' '112' '113' '114' '115'
 '116' '117' '118' '119' '120' '121' '122' '123' '124' '125' '126' '127'
 '128' '129' '130' '131' '132' '133' '134' '135' '136' '137' '138' '139'
 '140' '141' '142' '143' '144' '145' '146' '147' '148' '149' '150' '151'
 '152' '153' '154' '155' '156' '157' '158' '159' '160' '161' '162' '163'
 '164' '165' '166' '167' '168' '169' '170' '171' '172' '173' '174' '175'
 '176' '177' '178' '179' '180' '181' '182' '183' '184' '185' '186' '187'
 '188' '189' '190' '191' '192' '193' '194' '195' '196' '197' '198' '199'
 '200' '201' '202' '203' '204' '205' '206' '207' '208' '209' '210' '211'
 '212' '213' '214' '215' '216' '217' '218' '219' '220' '221' '222' '223'
 '224' '225' '226' '227' '228' '229' '230' '231' '232' '233' '234' '235'
 '236' '237' '238' '239' '240' '241' '242' '243' '244' '245' '246' '247'
 '248' '249' '250' '251' '252' '253' '254' '255' '256' '257' '258' '259'
 '260' '261' '262' '263' '264' '265' '266' '267' '268' '269' '270' '271'
 '272' '273' '274' '275' '276' '277' '278' '279' '280' '281' '282' '283'
 '284' '285' '286' '287' '288' '289' '290' '291' '292' '293' '294' '295'
 '296' '297' '298' '299' '300' '301' '302' '303' '304' '305' '306' '307'
 '308' '309' '310' '311' '312' '313' '314' '315' '457' '458' '459' '460'
 '461' '462' '463' '464' '465' '466' '467' '468' '469' '470']

In [4]:
drug_df = pd.read_csv(
    dh.get_path_to_main()
    + "DataFiles/BR/processedRedCapData/brDrugTherapy_20240509.csv"
)

In [5]:
drug_df

,ID,Hospital,StudyNumber,DrugTherapyType,DrugTherapyStartDate,DrugTherapyStopDate,DrugTherapyComment
0,316.0,PAP,projectb19969@gmail.com,4.0,2020-02-11,NaN,Est start date
1,316.0,PAP,projectb19969@gmail.com,2.0,2020-11-01,NaN,Est start date
2,317.0,PAP,projectb852432@gmail.com,2.0,2020-10-12,NaN,NaN
3,318.0,PAP,projectb31415@gmail.com,4.0,2020-01-28,NaN,est date
4,318.0,PAP,projectb31415@gmail.com,2.0,2020-11-23,NaN,est date
...,...,...,...,...,...,...,...
601,328,PAP,projectbreathe3719@gmail.com,4.0,2020-03-01,2020-11-01,NaN
602,328,PAP,projectbreathe3719@gmail.com,2.0,2020-11-01,NaN,NaN
603,329,PAP,projectb2808@gmail.com,2.0,2022-10-01,NaN,Est. start date
604,329,PAP,projectb2808@gmail.com,1.0,2022-10-01,NaN,Est. start date
605,330,PAP,projectb2706@gmail.com,2.0,2020-08-01,NaN,Est. start date